.purpleColor {
    background: rgb(135,33,117) !important;
}

tbody tr:hover {
    background-color: #fffcbe !important;
}

tbody tr:hover td.sorting_1 {
    background-color: rgba(221, 215, 154, 0.77) !important;
}
th:hover {
    background: lightgrey;
}
div#dtBasicExample1_wrapper {
    background: rgba(119, 44, 109, 0.13);
}
div#dtBasicExample_wrapper {
    background: rgba(119, 44, 109, 0.13);
}

h5.label {
    font-weight: 500 !important;
}

td {
    text-align: left !important;
}

th:hover, td:hover {
    cursor: pointer;
}

.container.m-0 {
    min-width: 100% !important;
}

.col {
    padding-top: 1px !important;
}
td {
    color: black;
}
th.th-sm.sorting {
    color: black;
}
th {
    color: black;
}