
.navbar-dark .navbar-nav .nav-link {
    font-family: serif;
    font-size: x-large;
}

/*The image in NavBar*/
/*Use the # to target an ID of an html element*/
#pic1 {
    height: 4em;
}

#basicExampleNav {
    font-family: Roboto, sans-serif;
}




