

.navbar-dark .navbar-nav .nav-link {
    font-family: gotham;
    font-size: large;
    background: rgb(135,33,117);
}
nav {
    background: rgb(135,33,117);
}



/*The image in NavBar*/
/*Use the # to target an ID of an html element*/
#pic1 {
    height: 4em;
}

/*
3 pictures on the homepage
 */
#pic2 {
    height: 220px;
    width: 300px
}

#pic4 {
    height: 220px;
    width: 300px;

}

#pic3 {
    height: 220px;
    width: 300px;
}

#basicExampleNav {
    font-family: Roboto, sans-serif;
}
h1 {
    font-family: gotham;
    color: rgb(135,33,117);
}

p {
    font-family: gotham;
    font-size: 1.2em;
}

label {
    font-family: gotham;
}

body {
    background: lightgrey;
}



