h6 {
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.1pt;
    font-family: inherit;
}


.modal-footer.purpleColor {
    border-radius: 0px !important;
}

/*Cells*/
/*table td {*/
/*background-color: #feffd9;*/
/*}*/

.d-flex.flex-column {
    margin-left: 13%;
}


#dtBasicExample1 {
    cellspacing: "0";
}

#disclaimerButton {
    display: none;
}