<!--

    Jittima Goodrich
    11/16/2019
    adminDashboard.html
    file for master admin


-->

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

<!--Page specific styles-->
<link rel="stylesheet" href="./css/datatable.css">



<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="adminDashboard">
      <div class="sidebar-brand-icon rotate-n-0">
        <i class="fas fa-user-shield"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Master Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="adminDashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Manage Admins
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <!-- Nav Item - add admin -->
    <li class="nav-item">
      <a class="nav-link" href="addAdmin">
        <i class="fas fa-fw fa-user-plus"></i>
        <span>Add Admin</span></a>
    </li>


    <!-- Nav Item - reset password -->
    <li class="nav-item">
      <a class="nav-link" href="resetPassword">
        <i class="fas fa-fw fa-user-lock"></i>
        <span>Reset Password</span></a>
    </li>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-list-alt"></i>
        <span>Resource Management</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Resource:</h6>
          <a class="collapse-item" href="admin">Pending Table</a>
          <a class="collapse-item" href="resources">View Resource Listing</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Pages
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="admin">
        <i class="fas fa-fw fa-table"></i>
        <span>Pending Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!--   ***********End of Sidebar*************** -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- *****************Topbar*************************************** -->

      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small"
                   placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <a class="btn btn" type="button">
                <i class="fas fa-search fa-sm"></i>
              </a>
            </div>
          </div>
        </form>


        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small"
                         placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <a class="btn btn" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </li>

          <!-- Nav Item - Alerts -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell fa-fw"></i>
              <!-- Counter - Alerts -->
              <span class="badge badge-danger badge-counter"></span>
            </a>
            <!-- Dropdown - Alerts -->
          </li>

          <!-- Nav Item - Messages -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-envelope fa-fw"></i>
              <!-- Counter - Messages -->
              <span class="badge badge-danger badge-counter"></span>
            </a>
            <!-- Dropdown - Messages -->
          </li>

          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Master Admin</span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
              </a>
            </div>
          </li>

        </ul>

      </nav>


      <!-- **************************End of Topbar***************************************************** -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          <a href="download" type="button" class="d-none d-sm-inline-block btn btn-sm btn shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i>
            <span>Download</span></a>
        </div>

        <!-- Content Row -->
        <div class="row d-sm-flex align-items-center justify-content-between mb-4">

          <!-- Total admin Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Admin</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{count(@admin)}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-users fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Master admin Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Master Admin</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{@countMaster}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-user-shield fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Standard admin Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Standard Admin</div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{@countStandard}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-user fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!--          &lt;!&ndash; Pending Requests Card Example &ndash;&gt;-->
<!--          <div class="col-xl-3 col-md-6 mb-4">-->
<!--            <div class="card border-left-warning shadow h-100 py-2">-->
<!--              <div class="card-body">-->
<!--                <div class="row no-gutters align-items-center">-->
<!--                  <div class="col mr-2">-->
<!--                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Resources</div>-->
<!--                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{@countPending}}</div>-->
<!--                  </div>-->
<!--                  <div class="col-auto">-->
<!--                    <i class="fas fa-hourglass-half fa-2x text-gray-300"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>

        <!-- Resource Content Row -->
        <div class="row">

          <!-- Total Resource Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Resources</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{@countResources}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-list-ul fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Total Resource Card Example -->

          <!-- Approved Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Approved Resources</div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{@countApproved}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-check fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Approved Card Example -->

          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Resources</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{@countPending}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-hourglass-half fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Pending Requests Card Example -->

          <!-- Declined Card Count Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Declined Resources</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{@countDeclined}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-ban fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Declined Card Count Example -->

        </div>
        <!-- Resource Content Row -->

        <!-- Content Row -->

        <!-- Editable table -->
        <div class="card">
          <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Active Admin</h3>
          <div class="card-body">
            <div id="table" class="table-editable">
              <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-gray-300"><i
              class="fas fa-user-circle fa-2x" aria-hidden="true"></i></a></span>
              <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                  <tr>
                    <th class="text-center">First Name</th>
                    <th class="text-center">Last Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Password</th>
                    <th class="text-center">Admin Type</th>
                    <th class="text-center">Remove</th>
                  </tr>
                </thead>
                <tbody>
                <repeat group="{{@admin}}" value="@row">
                  <tr>
                    <td class="pt-3-half" contenteditable="true">{{@row['fname']}}</td>
                    <td class="pt-3-half" contenteditable="true">{{@row['lname']}}</td>
                    <td class="pt-3-half" contenteditable="true">{{@row['email']}}</td>
                    <td class="pt-3-half" contenteditable="true">{{@row['password']}}</td>
                    <td class="pt-3-half" contenteditable="true">
                      <check if="{{@row['masterAdmin'] == 1}}">
                        <true>
                          Master Admin
                        </true>
                        <false>
                          Standard Admin
                        </false>
                      </check>
                    </td>
                    <td>
                      <span class="table-remove">
<!--                        <button class="btn btn-danger btn-rounded btn-sm my-0" data-target="#removeModal" data-toggle="modal">Remove</button>-->
                        <form method="post" action="#">
                          <button type="submit" class="btn btn" value="{{@row['adminID']}}" name="removeID">
                            Remove
                          </button>
                        </form>
                      </span>
                    </td>
                  </tr>
                </repeat>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Editable table -->

<!-- If Resource Table could be on the Page       -->
<!--        &lt;!&ndash; Resource Table &ndash;&gt;-->
<!--        <div class="card">-->
<!--          <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Resources</h3>-->
<!--          <div class="card-body">-->
<!--            <div class="container scrollable p-4 m-1 mb-4 text-center mx-auto">-->
<!--              <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                  <th class="th-sm">Status-->
<!--                  </th>-->
<!--                  <th class="th-sm">Service-->
<!--                  </th>-->
<!--                  <th class="th-sm">Name-->
<!--                  <th class="th-sm">Office-->
<!--                  </th>-->
<!--                  <th class="th-sm">Phone-->
<!--                  </th>-->
<!--                  <th class="th-sm">Email-->
<!--                  </th>-->
<!--                  <th class="th-sm">City-->
<!--                  </th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <repeat group="{{ @res }}"-->
<!--                        value="{{ @value }}">-->
<!--                  <tr data-title="{{ @value['resourceID'] }}" >-->
<!--                    <td>{{ @value["Listing_Status"] }}</td>-->
<!--                    <td>{{ @value["Resource_ServiceType"] }}</td>-->
<!--                    <td>{{ @value["theraFname"] }} {{ @value["theraLname"] }}</td>-->
<!--                    <td>{{ @value["office"] }}</td>-->
<!--                    <td>{{ @value["officePhone"] }}</td>-->
<!--                    <td>{{ @value["officeEmail"] }}</td>-->
<!--                    <td>{{ @value["city"] }}</td>-->
<!--                  </tr>-->
<!--                </repeat>-->
<!--                </tbody>-->
<!--                <tfoot>-->
<!--                <tr>-->
<!--                  <th>Service-->
<!--                  </th>-->
<!--                  <th>Name-->
<!--                  </th>-->
<!--                  <th>Office-->
<!--                  </th>-->
<!--                  <th>Phone-->
<!--                  </th>-->
<!--                  <th>Email-->
<!--                  </th>-->
<!--                  <th>City-->
<!--                  </th>-->
<!--                </tr>-->
<!--                </tfoot>-->
<!--              </table>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Resource Table &ndash;&gt;-->
      </div>

    </div>

</div>


</div>
<!-- End of Page Wrapper -->

<!-- Remove Modal-->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">WARNING: Admin being remove</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">You are about to remove an admin. Are you sure you want to?</div>
      <div class="modal-footer">
        <button class="btn btn-outline-unique" type="button" data-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>

<!-- Central Modal-->
<div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-notify modal-warning modal-fluid" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-white mx-auto w-100 purpleColor">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <!--Modal body-->
      <!--TODO: Update with DB information -->
      <div class="modal-body">
        <div class="text-center">
          <div class="container w-75">
            <!--Admin Review-->
            <h3 class="text-white purpleColor">Resource Information</h3>
            <!--First row in modal-->
            <div class="row">
              <div class="col">
                <h5 class="label">Resource Type</h5>
                <p id="Resource_ServiceType"></p>
              </div>
              <div class="col">
                <h5 class="label">Business Name</h5>
                <p id="office"></p>
              </div>
              <div class="col">
                <h5 class="label">Provider Name</h5>
                <p id="speciality"></p>
              </div>
            </div>
            <hr>
            <!--Second row in modal-->
            <div class="row">
              <div class="col">
                <h5 class="label">Email <a
                        href="mailto:{{@res['officeEmail']}}?Subject=OneStop%20WA%20Recommendation%20"
                        target="_top">
                  <i class="fas fa-envelope amber-text"></i>
                </a></h5>
                <p id="officeEmail"></p>
              </div>
              <div class="col">
                <h5 class="label">Phone <a href="tel:{{@res['officePhone']}}">
                  <i class="fas fa-phone amber-text"></i>
                </a></h5>
                <p id="officePhone"></p>
              </div>
              <div class="col">
                <h5 class="label">Website</h5>
                <p id="website"></p>
              </div>
            </div>
            <hr>
            <!--Third row in modal-->
            <div class="row">
              <div class="col">
                <h5 class="label">Address</h5>

                <p id="address" class="float-left pr-1 mx-1">{{@res['address']}}</p>
                <p id="city" class="float-left pl-1">{{@res['city']}}</p>
                <p id="comma" class="float-left">{{@comma}}</p>
                <p id="state" class="float-left pl-1">{{@res['state']}}</p>
                <p id="zip" class="float-left pl-1">{{@res['zip']}}</p>
              </div>
              <div class="col">
                <h5 class="label">Ages Seen</h5>
                <p>0-4, 10-12</p>
              </div>
              <div class="col">
                <h5 class="label">Credentials</h5>
                <p>PhD</p>
              </div>

            </div>
            <hr>
            <!--Fourth row in modal-->
            <div class="row">
              <div class="col">
                <h5 class="label">Languages/Interpreter</h5>
                <p id="interpreter"></p>
              </div>
              <div class="col">
                <h5 class="label">Insurance Accepted</h5>
                <p id="insurance"></p>
              </div>
              <div class="col">
                <h5 class="label">Fees</h5>
                <p>{{ @res["insurance"]}}</p>
              </div>
            </div>
            <hr>
            <!--Fifth row in modal-->
            <div class="row">
              <div class="col">
                <h5 class="label">County</h5>
                <p>King</p>
              </div>
              <div class="col">
                <h5 class="label">Provider Gender</h5>
                <p id="theraGender"></p>
              </div>
              <!--Empty column to make spacing correct-->
              <div class="col">

              </div>
            </div>
            <hr>
            <!--Sixth row in modal-->
            <div class="row">
              <div class="col">
                <h5 class="label">Monday</h5>
                <p>9:00am-5:00pm</p>
              </div>
              <div class="col">
                <h5 class="label">Tuesday</h5>
                <p>9:00am-5:00pm</p>
              </div>
              <div class="col">
                <h5 class="label">Wednesday</h5>
                <p>9:00am-5:00pm</p>
              </div>
              <div class="col">
                <h5 class="label">Thursday</h5>
                <p>9:00am-5:00pm</p>
              </div>
              <div class="col">
                <h5 class="label">Friday</h5>
                <p>9:00am-4:00pm</p>
              </div>
              <div class="col">
                <h5 class="label">Saturday</h5>
                <p>Closed</p>
              </div>
              <div class="col">
                <h5 class="label">Sunday</h5>
                <p>Closed</p>
              </div>
            </div>
            <!--Contact info for user who referred resource-->
            <h3 class="text-white purpleColor">Referee Information</h3>
            <div class="row">
              <div class="col">
                <h5 class="label">Name</h5>
                <p id="Referral_fname">{{@res['Referral_lname']}}</p>
              </div>
              <div class="col">
                <h5 class="label">Email <a
                        href="mailto:{{@res['Referral_email']}}?Subject=OneStop%20WA%20Recommendation%20"
                        target="_top">
                  <i class="fas fa-envelope"></i>
                </a>
                </h5>
                <p id="Referral_email"></p>
              </div>
              <div class="col">
                <h5 class="label">Phone <a href="tel:{{@res['Referral_phone']}}">
                  <i class="fas fa-phone"></i>
                </a>
                </h5>
                <p id="Referral_phone"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Footer-->
      <div class="container-fluid purpleColor">
        <p hidden id="here"></p>
        <div class="w-auto p-3">
          <div class="row d-flex justify-content-center">
            <div class="d-flex flex-column">
              <!--Button Accept-->
              <button type="button" class="btn btn-outline-success waves-effect" id="approve">
                <i class="fas fa-check text-purple"></i> Approve Listing
              </button>
            </div>
            <div class="d-flex flex-column">
              <!--Button Decline-->
              <button type="button" class="btn btn-outline-light waves-effect" data-toggle="modal" data-target="#fluidModalBottomResoEdit" id="edit">
                <i class="far fa-edit"></i> Edit Listing
              </button>
            </div>
            <div class="d-flex flex-column">
              <!--Button Decline-->
              <button type="button" class="btn btn-outline-warning waves-effect" id="decline">
                <i class="fas fa-ban"></i> Deny Listing
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.Content-->
</div>
<!-- Central Modal -->

<!-- Full Height Modal Bottom Edit Resource-->
<div class="modal fade bottom" id="fluidModalBottomResoEdit" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-dialog-scrollable modal-fluid modal-bottom modal-notify" role="document">
    <!--Content-->
    <div class="modal-content container-fluid">
      <!--Header-->
      <div class="modal-header text-center purpleColor">
        <h4 class="modal-title w-100 font-weight-bold white-text">Resource Edit</h4>
        <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Edit Tabs Section -->
      <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="referral-tab" data-toggle="tab" href="#referral" role="tab" aria-controls="referral"
             aria-selected="true">Referral</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info"
             aria-selected="false">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="hours-tab" data-toggle="tab" href="#hours" role="tab" aria-controls="hours"
             aria-selected="false">Hours</a>
        </li>
      </ul>
      <!-- Edit Tabs Section -->

      <!-- Edit Section -->
      <div class="tab-content overflow-auto scrollbar-deep-purple bordered-deep-purple thin" id="myTabContent">

        <!-- Info Edit Content -->
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
          <div class="modal-body mx-3">
            <h5 class="card-title ">Info</h5>
            <div class="card">
              <!-- Container -->
              <div class="card-body">
                <!-- Container -->
                <div class="d-block d-md-flex scrollable">
                  <!-- Column -->
                  <div class="p-3 flex-1">
                    <p class="prefix grey-text">Type</p>
                    <div class="md-form mb-9">
                      <i class="fas fa-list-ul prefix grey-text"></i>
                      <input type="text" id="goldForm-type" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-type" id="goldType">Resource Type</label>
                    </div>
                    <p class="prefix grey-text">Name</p>
                    <div class="md-form mb-8">
                      <i class="fas fa-tag prefix grey-text"></i>
                      <input type="text" id="goldForm-name" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-name" id="goldName">Bus Name</label>
                    </div>
                    <p class="prefix grey-text">Website</p>
                    <div class="md-form mb-7">
                      <i class="fas fa-globe-americas prefix grey-text"></i>
                      <input type="text" id="goldForm-website" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-website" id="gold">Website</label>
                    </div>
                    <p class="prefix grey-text">Credentials</p>
                    <div class="md-form mb-6">
                      <i class="fas fa-certificate prefix grey-text"></i>
                      <input type="text" id="goldForm-cert" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-cert" id="goldCred">Credentials</label>
                    </div>
                    <p class="prefix grey-text">Insurance</p>
                    <div class="md-form mb-5">
                      <i class="fas fa-notes-medical prefix grey-text"></i>
                      <input type="text" id="goldForm-ins" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-ins" id="goldIns">Insurance</label>
                    </div>
                    <p class="prefix grey-text">Fees</p>
                    <div class="md-form mb-4">
                      <i class="fas fa-cash-register prefix grey-text"></i>
                      <input type="text" id="goldForm-fees" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-fees" id="goldFees">Fees</label>
                    </div>
                    <p class="prefix grey-text">Address</p>
                    <div class="md-form mb-3">
                      <i class="fas fa-home prefix grey-text"></i>
                      <input type="text" id="goldForm-address" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-address" id="goldAdd">Address</label>
                    </div>
                    <p class="prefix grey-text">City</p>
                    <div class="md-form mb-2">
                      <i class="fas fa-home prefix grey-text"></i>
                      <input type="text" id="goldForm-city" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-city" id="orCity">City</label>
                    </div>
                    <p class="prefix grey-text">County</p>
                    <div class="md-form mb-1">
                      <i class="fas fa-home prefix grey-text"></i>
                      <input type="text" id="goldForm-County" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-County" id="goldCount">County</label>
                    </div>
                  </div>
                  <!-- Column -->
                  <!-- Column -->
                  <div class="p-3 flex-1">
                    <p class="prefix grey-text">Person to Contact First Name</p>
                    <div class="md-form mb-10">
                      <i class="far fa-user-circle prefix grey-text"></i>
                      <input type="text" id="orangeForm-poc" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="orangeForm-poc" id="orCont">person to contact</label>
                    </div>
                    <p class="prefix grey-text">Person to Contact Last Name</p>
                    <div class="md-form mb-11">
                      <i class="far fa-user-circle prefix grey-text"></i>
                      <input type="text" id="orangeForm-pocL" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="orangeForm-pocL" id="orContL">person to contact Last Name</label>
                    </div>
                    <p class="prefix grey-text">Email</p>
                    <div class="md-form mb-12">
                      <i class="fas fa-envelope prefix grey-text"></i>
                      <input type="email" id="orangeForm-email" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="orangeForm-email" id="orEmail">Your email</label>
                    </div>
                    <p class="prefix grey-text">Phone</p>
                    <div class="md-form mb-13">
                      <i class="fas fa-phone-square prefix grey-text"></i>
                      <input type="text" id="orangeForm-phone" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="orangeForm-phone" id="orPhone">Your phone</label>
                    </div>
                    <p class="prefix grey-text">Gender</p>
                    <div class="md-form mb-14">
                      <i class="fas fa-genderless prefix grey-text"></i>
                      <input type="text" id="orangeForm-gender" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="orangeForm-gender" id="orGen">provider Gender</label>
                    </div>
                    <p class="prefix grey-text">Ages</p>
                    <div class="md-form mb-15">
                      <i class="fas fa-birthday-cake prefix grey-text"></i>
                      <input type="text" id="orangeForm-ages" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="orangeForm-ages" id="orAges">provider ages Seen</label>
                    </div>
                    <p class="prefix grey-text">Interpreter</p>
                    <div class="md-form mb-16">
                      <i class="fas fa-american-sign-language-interpreting prefix grey-text"></i>
                      <input type="text" id="orangeForm-lang" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="orangeForm-lang" id="orInt">Interpreter</label>
                    </div>
                    <p class="prefix grey-text">State</p>
                    <div class="md-form mb-17">
                      <i class="fas fa-home prefix grey-text"></i>
                      <input type="text" id="goldForm-state" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-state" id="orState">State</label>
                    </div>
                    <p class="prefix grey-text">Zip</p>
                    <div class="md-form mb-18">
                      <i class="fas fa-home prefix grey-text"></i>
                      <input type="text" id="goldForm-zip" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-zip" id="goldZip">Zip</label>
                    </div>
                  </div>
                  <!-- Column -->
                </div>
                <!-- Container -->
              </div>
            </div>
          </div>
        </div>
        <!-- Info Edit Content -->

        <!-- Referral Edit Content -->
        <div class="tab-pane fade" id="referral" role="tabpanel" aria-labelledby="referral-tab">
          <div class="modal-body mx-3">
            <h5 class="card-title ">Referral</h5>
            <div class="card">
              <!-- Container -->
              <div class="card-body">
                <!-- Container -->
                <div class="d-block d-md-flex">
                  <!-- Column -->
                  <div class="p-3 flex-1">
                    <p class="prefix grey-text">First Name</p>
                    <div class="md-form mb-3">
                      <i class="fas fa-tag prefix grey-text"></i>
                      <input type="text" id="greyForm-name" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="greyForm-name" id="refName">Ref Name</label>
                    </div>
                    <p class="prefix grey-text">Last Name</p>
                    <div class="md-form mb-3">
                      <i class="fas fa-tag prefix grey-text"></i>
                      <input type="text" id="greyForm-nameL" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="greyForm-nameL" id="refNameL">Ref Name</label>
                    </div>
                    <p class="prefix grey-text">Email</p>
                    <div class="md-form mb-2">
                      <i class="fas fa-envelope prefix grey-text"></i>
                      <input type="email" id="greyForm-email" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="greyForm-email" id="refEmail">Ref Email</label>
                    </div>
                    <p class="prefix grey-text">Phone</p>
                    <div class="md-form mb-1">
                      <i class="fas fa-phone-square prefix grey-text"></i>
                      <input type="email" id="greyForm-phone" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="greyForm-phone" id="refPhone">Ref phone</label>
                    </div>
                  </div>
                  <!-- Column -->
                </div>
              </div>
              <!-- Container -->
            </div>
          </div>
        </div>
        <!-- Referral Edit Content -->

        <!-- Hours Edit Content -->
        <div class="tab-pane fade" id="hours" role="tabpanel" aria-labelledby="hours-tab">
          <div class="modal-body mx-3">
            <h5 class="card-title ">Edit Hours</h5>
            <div class="card">
              <!-- Container -->
              <div class="card-body">
                <!-- Container -->
                <div class="d-block d-md-flex">
                  <!-- Column Open Time -->
                  <div class="p-3 flex-1">
                    <h5 class="prefix grey-text">Open</h5>
                    <hr>
                    <p class="prefix grey-text">Sunday</p>
                    <div class="md-form mb-7">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-sun" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-sun">Sunday</label>
                    </div>
                    <p class="prefix grey-text">Monday</p>
                    <div class="md-form mb-6">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-mon" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-mon">Monday</label>
                    </div>
                    <p class="prefix grey-text">Tuesday</p>
                    <div class="md-form mb-5">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-tues" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-tues">Tuesday</label>
                    </div>
                    <p class="prefix grey-text">Wednesday</p>
                    <div class="md-form mb-4">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-wed" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-wed">Wednesday</label>
                    </div>
                    <p class="prefix grey-text">Thursday</p>
                    <div class="md-form mb-3">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-thurs" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-thurs">Thursday</label>
                    </div>
                    <p class="prefix grey-text">Friday</p>
                    <div class="md-form mb-2">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-fri" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-fri">Friday</label>
                    </div>
                    <p class="prefix grey-text">Saturday</p>
                    <div class="md-form mb-1">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-sat" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-sat">Saturday</label>
                    </div>
                  </div>
                  <!-- Column Open Time -->
                  <!-- Column Close Time -->
                  <div class="p-3 flex-1">
                    <h5 class="prefix grey-text">Closed</h5>
                    <hr>
                    <p class="prefix grey-text">Sunday</p>
                    <div class="md-form mb-7">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-sunEnd" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-sunEnd">Sunday</label>
                    </div>
                    <p class="prefix grey-text">Monday</p>
                    <div class="md-form mb-6">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-monEnd" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-monEnd">Monday</label>
                    </div>
                    <p class="prefix grey-text">Tuesday</p>
                    <div class="md-form mb-5">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-tuesEnd" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-tuesEnd">Tuesday</label>
                    </div>
                    <p class="prefix grey-text">Wednesday</p>
                    <div class="md-form mb-4">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-wedEnd" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-wedEnd">Wednesday</label>
                    </div>
                    <p class="prefix grey-text">Thursday</p>
                    <div class="md-form mb-3">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-thursEnd" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-thursEnd">Thursday</label>
                    </div>
                    <p class="prefix grey-text">Friday</p>
                    <div class="md-form mb-2">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-friEnd" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-friEnd">Friday</label>
                    </div>
                    <p class="prefix grey-text">Saturday</p>
                    <div class="md-form mb-1">
                      <!--                                                                <i class="fas fa-tag prefix grey-text"></i>-->
                      <i class="fas fa-calendar-week prefix grey-text"></i>
                      <input type="text" id="goldForm-satEnd" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="goldForm-satEnd">Saturday</label>
                    </div>
                  </div>
                  <!-- Column Close Time-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Hours Edit Content -->

        <!-- Edit Section -->

      </div>
      <!--Body-->
      <!--Footer-->
      <div class="modal-footer mb-4 justify-content-center purpleColor">
        <a role="button" class="btn btn-outline-white waves-effect z-depth-1-half" data-dismiss="modal">
          <i class="fas fa-ban">&nbsp
          </i>Cancel
        </a>
        <a role="button" class="btn waves-effect z-depth-1-half" data-dismiss="modal" lang="fEdit">
          <i class="fas fa-clipboard-check">&nbsp
          </i>Done
        </a>
      </div>
      <!--Footer-->
    </div>
  </div>
  <!--Content-->
</div>
<!-- Full Height Modal Bottom Edit Resource-->

<!-- Central Modal Medium Success -->
<div class="modal fade" id="confirmEditModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header purple">
        <h2 class="heading lead justify-content-center">Edit Complete!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <br>
          <i id="finishEditIcon" class="fas fa-check fa-4x mb-3 animated rotateIn text-warning"></i>
          <p id="confirmEdit"></p>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center purple">
        <button type="button" class="btn btn-outline-light waves-effect" data-dismiss="modal" id="editedListing">
          <i class="fas fa-th-list"></i>
          View Listings
        </button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Success-->


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
