<!--
Sam, Rob, Jittima
Updated 11/9/2019
Footer for pages on the Website
-->
<!-- Footer -->
<footer class="page-footer font-small grey darken-3 mt-5">
    <!-- Grid row -->
    <div class="row d-flex align-items-center">
        <!-- Grid column for Copyright -->
        <div class="col-md-12 col-lg-12">
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href=""> One Stop WASHINGTON</a>
            </div>

        </div>
        <!-- Grid column for Social Buttons -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
            <div class="footer-text text-center text-md-right">
                <div class="container">
                    <ul class="list-unstyled list-inline text-right">
                        <li class="list-inline-item">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- JQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
<!--  DataTables -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<!-- JS API Calls -->
<script src="views/js/listingAPI.js"></script>

<!-- JavaScript for Listing Views -->
<script src="views/js/resourceTable.js"></script>

</body>
</html>