<!--
    Jittima Goodrich
    10/31/2019
    adminLogin.html

   -->

<div class="jumbotron container bg-white my-5">
    <div class="container white lighten-5">

        <h1 class="text-center pt-2">Admin Log In</h1>
        <div class="row ml-2">
            <div class="col-sm-12">

                <form method="post">

                    <div class="row ml-2 pb-3">
                        <div class="col-sm-6">
                            <label>Username/Admin email</label>
                            <input type="text" class="form-control" name="adminEmail">
                            <check if="{{ !empty(@errors) }}">
                                <span class="text-danger">{{ @errors }}</span>
                            </check>
                        </div>
                    </div>
                    <div class="row ml-2 pb-3">
                        <div class="col-sm-6">
                            <label>Password</label>
                            <input type="password" class="form-control" name="adminPassword">
                            <check if="{{ !empty(@errors) }}">
                                <span class="text-danger">{{ @errors }}</span>
                            </check>
                        </div>
                    </div>

                    <div class="row ml-4 pt-4 pb-2">
                        <button id="login" type="submit" class="btn btn waves-effect">Login</button>
                        <a type="button" class="btn btn-outline waves-effect"
                           href="resetPassword">Forget Password</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

