<!--
    Jittima Goodrich
    10/31/2019
    adminLogin.html

   -->



<div class="jumbotron">
    <div class="container white lighten-5">
        <div class="row ml-2">
            <div class="col-sm-6">

                <form method="post">
                    <input type="text" name="redirect" value="login" hidden>

                    <div class="jumbotron ml-2">
                        <h1>Log In</h1>
                    </div>

                    <div class="row ml-2">
                        <div class="col-sm-6">
                            <label>Username</label>
                            <input id="email" type="text" class="form-control" name="username">
                        </div>
                    </div>
                    <div class="row ml-2">
                        <div class="col-sm-6">
                            <label>Password</label>
                            <input type="text" class="form-control" name="password">
                        </div>
                    </div>

                    <div class="row ml-4 pt-4">
                        <button id="login" type="submit" class="btn btn-purple waves-effect">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>