<!--
    Name: Jittima Goodrich
    Date: 10/6/2019
    File: confirmation.html
    This is the page to display the information that user submitted

-->


<div class="container shadow-lg p-5 mb-5 mt-2 bg-white rounded">
    <h1 class="text-center">Thank you!</h1>
    <p class="lead text-center">{{ @recommendedInfo['fname'] }} {{ @recommendedInfo['lname'] }} for your recommendation!</p>
    <hr>

<div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="container white mt-4">
    <div class="jumbotron">
        <h3 class="text-center">Your information</h3>
        <p><strong>Name:</strong> {{ @recommendedInfo['fname'] }} {{ @recommendedInfo['lname'] }} </p>
        <p><strong>Email:</strong> {{ @recommendedInfo['email'] }}</p>
        <p><strong>Phone:</strong> {{ @recommendedInfo['phone'] }}</p>
        <hr class="my-4">
        <h3 class="text-center"> Services/Specialties information </h3>
        <p><strong>Category:</strong> {{ @service.service}}</p>
        <p><strong>Services/Specialties Name:</strong> {{ @SESSION.office }}</p>
        <p><strong>Services/Specialties Address:</strong> {{ @SESSION.address }}</p>
        <p><strong>Services/Specialties City:</strong> {{ @SESSION.city }}</p>
        <p><strong>Services/Specialties State:</strong> {{ @SESSION.state }}</p>
        <p><strong>Services/Specialties Zip:</strong> {{ @SESSION.zip}}</p>
        <p><strong>Services/Specialties Phone:</strong> {{ @SESSION.office_phone }}</p>
        <p><strong>Services/Specialties Email:</strong> {{ @SESSION.office_email }}</p>
        <p><strong>Services/Specialties Website:</strong> {{ @SESSION.website }}</p>
        <p><strong>Comments:</strong> {{ @SESSION.comments }}</p>
        <hr class="my-4">
        <h3 class="text-center">Therapist information</h3>
        <p><strong>Therapist Name:</strong> {{ @SESSION.theraFname}} {{ @SESSION.theraLname}}</p>
        <p><strong>Therapist Gender:</strong> {{ @SESSION.theraGender}}</p>
        <p><strong>Therapist Email:</strong> {{ @SESSION.theraEmail}}</p>
        <p><strong>Therapist Phone Number:</strong> {{ @SESSION.theraPhone}}</p>
        <p><strong>Therapist Secondary Phone Number:</strong> {{ @SESSION.secondPhone}}</p>
        <p><strong>Credential:</strong> {{ @SESSION.credential}}</p>
        <p><strong>Secondary Credential:</strong> {{ @SESSION.secondCredential}}</p>
        <hr class="my-4">
        <h3 class="text-center">Optional information</h3>
        <p><strong>Ages seen:</strong> {{ @SESSION.age}}</p>
        <p><strong>Languages/Interpreter:</strong> {{ @SESSION.interpreter}}</p>
        <p><strong>Insurance Accepted:</strong> {{ @SESSION.insurance}}</p>
        <p><strong>Fees:</strong> {{ @SESSION.fee}}</p>
        <hr class="my-4">
        <h3 class="text-center">Days and Hours of Operation</h3>
        <p><strong>Days Operation:</strong> {{ @SESSION.days}}</p>
        <p><strong>Monday Hours Operation:</strong> {{@SESSION.MondayNoTime}}
            <check if="{{isset(@SESSION.MondayFromTime, @SESSION.MondayToTime)}}">
                <small>From-</small>{{@SESSION.MondayFromTime}} <small>To-</small>{{@SESSION.MondayToTime}}
            </check></p>

        <p><strong>Tuesday Hours Operation:</strong> {{@SESSION.TuesdayNoTime}}
            <check if="{{isset(@SESSION.TuesdayFromTime, @SESSION.TuesdayToTime)}}">
                <small>From-</small>{{@SESSION.TuesdayFromTime}} <small>To-</small>{{@SESSION.TuesdayToTime}}
            </check></p>

        <p><strong>Wednesday Hours Operation:</strong> {{@SESSION.WednesdayNoTime}}
            <check if="{{isset(@SESSION.WednesdayFromTime, @SESSION.WednesdayToTime)}}">
                <small>From-</small>{{@SESSION.WednesdayFromTime}} <small>To-</small>{{@SESSION.WednesdayToTime}}
            </check></p>

        <p><strong>Thursday Hours Operation:</strong> {{@SESSION.ThursdayNoTime}}
            <check if="{{isset(@SESSION.ThursdayFromTime, @SESSION.ThursdayToTime)}}">
                <small>From-</small>{{@SESSION.ThursdayFromTime}} <small>To-</small>{{@SESSION.ThursdayToTime}}
            </check></p>

        <p><strong>Friday Hours Operation:</strong> {{@SESSION.FridayNoTime}}
            <check if="{{isset(@SESSION.FridayFromTime, @SESSION.FridayToTime)}}">
                <small>From-</small>{{@SESSION.FridayFromTime}} <small>To-</small>{{@SESSION.FridayToTime}}
            </check></p>

        <p><strong>Saturday Hours Operation:</strong> {{@SESSION.SaturdayNoTime}}
            <check if="{{isset(@SESSION.SaturdayFromTime, @SESSION.SaturdayToTime)}}">
                <small>From-</small>{{@SESSION.SaturdayFromTime}} <small>To-</small>{{@SESSION.SaturdayToTime}}
            </check></p>

        <p><strong>Sunday Hours Operation:</strong> {{@SESSION.SundayNoTime}}
            <check if="{{isset(@SESSION.SundayFromTime, @SESSION.SundayToTime)}}">
                <small>From-</small>{{@SESSION.SundayFromTime}} <small>To-</small>{{@SESSION.SundayToTime}}
            </check></p>

        <p><strong>County 1:</strong> {{ @SESSION.countyOne}}</p>
        <p><strong>County 2:</strong> {{ @SESSION.countyTwo}}</p>
        <p><strong>County 3:</strong> {{ @SESSION.countyThree}}</p>

    </div>

    <div class="row">
        <!-- Back Button -->
        <form method="get" action="dayHour">
            <button type="button" onclick="history.back()" class="btn btn-outline-purple btn-sm waves-effect">Back</button>
        </form>
    </div>
</div>
</div>
