<!--
    Name: Jittima Goodrich
    Date: 10/6/2019
    File: confirmation.html
    This is the page to display the information that user submitted

-->


<div class="container shadow-lg p-5 mb-5 mt-2 bg-white rounded">
    <h1 class="text-center">Thank you!</h1>
    <p class="lead text-center">{{ $_SESSION['fname'] }} {{ $_SESSION['lname'] }} for your recommendation!</p>
    <hr>

<div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="container white mt-4">
    <div class="jumbotron">
        <h3 class="text-center">Your information</h3>
        <p>Name: {{ @SESSION.fname }} {{ @SESSION.lname }}</p>
        <p>Email: {{ @SESSION.email }}</p>
        <p>Phone: {{ @SESSION.phone }}</p>
        <hr class="my-4">
        <h3 class="text-center"> Services/Specialties information </h3>
        <p>Category: {{ @SESSION.category}}</p>
        <p>Services/Specialties Name: {{ @SESSION.office }}</p>
        <p>Services/Specialties Address: {{ @SESSION.address }}</p>
        <p>Services/Specialties City: {{ @SESSION.city }}</p>
        <p>Services/Specialties State: {{ @SESSION.state }}</p>
        <p>Services/Specialties Zip: {{ @SESSION.zip}}</p>
        <p>Services/Specialties Phone: {{ @SESSION.office_phone }}</p>
        <p>Services/Specialties Email: {{ @SESSION.office_email }}</p>
        <p>Services/Specialties Website: {{ @SESSION.website }}</p>
        <p>Comments: {{ @SESSION.comments }}</p>
        <hr class="my-4">
        <h3 class="text-center">Therapist information</h3>
        <p>Therapist Name: {{ @SESSION.theraFname}} {{ @SESSION.theraLname}}</p>
        <p>Therapist Gender: {{ @SESSION.theraGender}}</p>
        <p>Therapist Email: {{ @SESSION.theraEmail}}</p>
        <p>Therapist Phone Number: {{ @SESSION.theraPhone}}</p>
        <p>Therapist Secondary Phone Number: {{ @SESSION.secondPhone}}</p>
        <p>Credential: {{ @SESSION.credential}}</p>
        <p>Secondary Credential: {{ @SESSION.secondCredential}}</p>
        <hr class="my-4">
        <h3 class="text-center">Optional information</h3>
        <p>Ages seen: {{ @SESSION.age}}</p>
        <p>Languages/Interpreter: {{ @SESSION.interpreter}}</p>
        <p>Insurance Accepted: {{ @SESSION.insurance}}</p>
        <p>Fees: {{ @SESSION.fee}}</p>

    </div>
    <!-- Next button -->
    <div class="row">
        <div class="col-sm-12">
            <a href="dayHour"  class="btn btn-outline-purple btn-sm waves-effect">Back</a>
        </div>
    </div>
</div>
</div>
