<!--
    Name: Jittima Goodrich
    Date: 10/6/2019
    File: resourceContactForm.html
    This is the form for an adoptive family to share the resources

-->

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">


<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-addAdmin-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create a New Admin!</h1>
                        </div>
                        <form method="post" action="#" class="user">

                            <!-- Admin first name and last name -->
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input required type="text" class="form-control form-control-user"
                                           id="exampleFirstName" name="fname" value="{{@fname}}"
                                           placeholder="First Name">
                                    <check if="{{ isset(@errors['fname']) }}">
                                        <span class="text-danger">{{ @errors['fname'] }}</span>
                                    </check>
                                </div>
                                <div class="col-sm-6">
                                    <input required type="text" class="form-control form-control-user"
                                           id="exampleLastName" name="lname" value="{{@lname}}"
                                           placeholder="Last Name">
                                    <check if="{{ isset(@errors['lname']) }}">
                                        <span class="text-danger">{{ @errors['lname'] }}</span>
                                    </check>
                                </div>
                            </div>

                            <!-- Admin email -->
                            <div class="form-group">
                                <input required type="email" class="form-control form-control-user"
                                       id="exampleInputEmail" name="adminEmail" value="{{@adminEmail}}"
                                       placeholder="Email Address">
                                <check if="{{ isset(@errors['adminEmail']) }}">
                                    <span class="text-danger">{{ @errors['adminEmail'] }}</span>
                                </check>
                            </div>

                            <!-- Admin Password -->
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input required type="password" class="form-control form-control-user"
                                           id="exampleInputPassword" name="password" value="{{@password}}"
                                           placeholder="Password">
                                    <check if="{{ isset(@errors['password']) }}">
                                        <span class="text-danger">{{ @errors['password'] }}</span>
                                    </check>
                                </div>
                                <div class="col-sm-6">
                                    <input required type="password" class="form-control form-control-user"
                                           id="exampleRepeatPassword" name="repeatPassword" value="{{@repeatPassword}}"
                                           placeholder="Repeat Password">
                                    <check if="{{ isset(@errors['repeatPassword']) }}">
                                        <span class="text-danger">{{ @errors['repeatPassword'] }}</span>
                                    </check>
                                </div>
                            </div>

                            <!-- Admin Type -->
                            <div class="form-check form-check-inline">

                                <label class="radio-inline">
                                    <check if="{{ @adminType === 'Master Admin'}}">
                                        <true>
                                            <input required type="radio" name="adminType"
                                                   value="0" checked> Master Admin
                                        </true>
                                        <false>
                                            <input required type="radio" name="adminType" value="0"> Master Admin
                                        </false>
                                    </check>
                                </label>

                                <label class="radio-inline">
                                    <check if="{{ @adminType === 'Standard Admin'}}">
                                        <true>
                                            <input required type="radio" name="adminType"
                                                   value="1" checked> Standard Admin
                                        </true>
                                        <false>
                                            <input required type="radio" name="adminType" value="1"> Standard Admin
                                        </false>
                                    </check>
                                </label>
                            </div>


                            <!-- button -->

                            <button type="submit"  class="btn btn btn-user btn-block">
                                Create a new Admin
                            </button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
