<!--
   Name: Sang Le
   updated version

   Name: Jittima Goodrich
   Date: 10/19/2019
   File: dayHourForm.html
   This is the form for an adoptive family to share the resources

-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<!-- Contact Information container -->
<div class="container shadow-lg p-5 mb-5 mt-2 bg-white rounded">
    <h1 class="text-center">Days and Hours of Operation <label class="orange-text mb-0">(optional)</label></h1>
    <hr>

    <div class="progress">
        <div class="progress-bar bg-warning text-secondary font-weight-bold" role="progressbar"
             style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">90%</div>
    </div>

    <!-- Form container-->
    <form action="#" method="post" id="businessHours">
        <h3 class="mt-3 mb-0">Please select all that apply</h3>
        <p class="orange-text">If known, please select the open days and hours of the business</p>
        <hr>

        <!-- Day selection inputs-->
        <div class="row">
            <repeat group="{{@day}}" value="{{@date}}">
                <fieldset class="col-sm">
                    <input type="checkbox" name="days[]" value="{{@date}}" class="myCheck"
                    <check if="{{ $_SESSION['DayHourInfo']->containsDay(@date) }}">checked</check>

                    > {{@date}}

                    <!-- Time selection inputs-->
                    <div class="form-group" id="{{@date}}" style="display: none">
                        <label>
                            <small>From</small>
                            <input class="timepicker w-100" type="text" name="{{@date}}FromTime" value='{{$_SESSION[@date."FromTime"]}}'>
                        </label>
                        <br>
                        <label>
                            <small>To</small>
                            <input class="timepicker w-100" type="text" name="{{@date}}ToTime" value='{{$_SESSION[@date."ToTime"]}}'>
                        </label>
                    </div>
                </fieldset>
            </repeat>
        </div>  <!-- End of day selection input -->

        <hr>

        <h3 class="mb-0">County of Services, Specialties or Therapists</h3>
        <p class="orange-text">If apply, please enter the other county office location</p>
        <div class="row">
            <!-- County1 inputs -->
            <label class="col-sm">
                <strong>County 1</strong>
                <input type="text" class="form-control" name="countyOne" value="{{ $_SESSION['DayHourInfo']->getCountyOne() }}" >
            </label>

            <!-- County2 inputs -->
            <label class="col-sm">
                <strong>County 2</strong>
                <input type="text" class="form-control" name="countyTwo" value="{{ $_SESSION['DayHourInfo']->getCountyTwo() }}" >
            </label>

            <!-- County3 inputs -->
            <label class="col-sm">
                <strong>County 3</strong>
                <input type="text" class="form-control" name="countyThree" value="{{ $_SESSION['DayHourInfo']->getCountyThree() }}" >
            </label>
        </div>

        <!-- Next button -->
        <div class="col-sm-12">
            <button type="submit" class="btn btn-unique float-right">Next></button>
        </div>

    </form>


    <!-- Back Button -->
    <form method="get" action="optionalInfo">
        <button type="submit" class="btn btn-outline-unique waves-effect">Back</button>
    </form>

</div>

<!-- Script for checkbox event -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="views/js/jquery.timepicker.min.js"></script>
<script>$('.timepicker').timepicker()</script>
<script src="views/js/checkboxEvent.js"></script>

