<!--
    Name: Jittima Goodrich
    Date: 10/19/2019
    File: dayHourForm.html
    This is the form for an adoptive family to share the resources

-->

<!-- Contact Information container -->
<div class="container shadow-lg p-5 mb-5 mt-2 bg-white rounded">
    <h1 class="text-center">Days and Hours of Operation</h1>
    <hr>

    <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <!-- Form container-->
    <form action="#" method="post" id="businessHours">
        <h3 class="mt-3">Please select all that apply</h3>
        <hr>

        <!-- Day selection inputs-->
        <div class="row">
            <repeat group="{{@day}}" value="{{@date}}">
                <label class="col-sm">
                    <input type="checkbox" name="days[]" value="{{@date}}"

                    > {{@date}}
                    <!-- Time selection inputs-->
                    <div class="form-group" id="{{@date}}" style="display: none">
                        <label>
                            <small>From</small>
                            <input type="time" name="{{@date}}FromTime" step="900">
                        </label>
                        <label>
                            <small>To</small>
                            <input type="time" name="{{@date}}ToTime" step="900">
                        </label>
                    </div>
                </label>
            </repeat>
        </div>  <!-- End of day selection input -->

        <hr>

        <h3>County of Services, Specialties or Therapists <span class="orange-text mb-0">(optional)</span></h3>
        <div class="row">
            <!-- County1 inputs -->
            <label class="col-sm">
                <strong>County 1</strong>
                <input type="text" class="form-control" name="countyOne" value="{{ @countyOne }}" >
            </label>

            <!-- County2 inputs -->
            <label class="col-sm">
                <strong>County 2</strong>
                <input type="text" class="form-control" name="countyTwo" value="{{ @countyTwo }}" >
            </label>

            <!-- County3 inputs -->
            <label class="col-sm">
                <strong>County 3</strong>
                <input type="text" class="form-control" name="countyThree" value="{{ @countyThree }}" >
            </label>
        </div>

        <!-- Next button -->
            <div class="col-sm-12">
                <button type="submit" class="btn btn-purple btn-sm float-right">Next></button>
            </div>

    </form>


<!-- Back Button -->
<form method="get" action="optionalInfo">
    <button type="submit" class="btn btn-outline-purple btn-sm waves-effect">Back</button>
</form>

</div>

<!-- Script for checkbox event -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="views/javascript/checkboxEvent.js"></script>