<!--

Robert Hill III, CSM @RH3
10/05/2019
homePage.html
This file contains the code for html components used to display the HomePage of
One Stop WA. BASIC resource ->  https://mdbootstrap.com/docs/jquery/components/

-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">ONE STOP WA</h2>
        <hr>
        <p class="lead">Online convenience for adoptive families of Washington state
            to view varieties of available resources.</p>
    </div>
</div>
<div class="container-fluid">
    <!--image-->
    <div class="text-center mh-75">
        <a href="#">
            <img src="./image/homePage/oneStopHands.png" class="img-fluid w-75 p-3" alt="One Stop Hands">
            <a>
                <div class="mask waves-effect waves-light rgba-yellow-slight"></div>
            </a>
        </a>
    </div>
    <!--image-->
    <!--button-->
    <div class="text-center">
        <!--Button to Resources-->
        <a href="resources"><button type="button" class="btn btn-yellow">Resources</button></a>
        <!--Button to Resources-->
    </div><!--image end-->
</div>
