<!--
    Jittima Goodrich
    10/31/2019

   Robert Hill III, CSM @RH3
   10/19/2019
   v1.1.1
   homePage.html
   This file contains the code for html components used to display the HomePage of
   One Stop WA. BASIC resource ->  https://mdbootstrap.com/docs/jquery/components/
   
   -->
<!--Title & Description-->
<div class="jumbotron text-center container light-grey mt-5">

    <!-- Title -->
    <h4 class="card-title h4 pb-2"><strong></strong></h4>
        <h1 class="">One Stop WA</h1>
        <p class="lead">
            Convenience for families of Washington to
            view and recommend Resources
            to assist adoptive families.
        </p>


    <!-- Card image -->
    <div class="view overlay my-4">
        <div class="container white">
            <div class="row">

                    <div class="col-sm-4">
                        <img id="pic4" src="./image/homePage/oneStopHands.png"
                             class="d-sm-block img-thumbnail" alt="OneStopWAHands">
                        <a href="" class="text-center font-weight-bolder black-text"></a>
                    </div>


                    <div class="col-sm-4">
                        <img id="pic2" src="./image/homePage/adoptive1.PNG"
                             class="d-sm-block img-thumbnail" alt="family">
                        <a href="" class="text-center font-weight-bolder black-text"></a>
                    </div>


                    <div class="col-sm-4">
                        <img id="pic3" src="./image/homePage/adoptive2.PNG"
                             class="d-sm-block img-thumbnail" alt="family2">
                        <a href="" class="text-center font-weight-bolder black-text"></a>
                    </div>

            </div>
        </div>
    </div>

    <!--Buttons -->
    <a href="recommended" class="btn btn-purple">
        Share a Resource
    </a>

    <a href="resources" class="btn btn-outline-purple waves-effect">
        View Resources
    </a>
    <!--end buttons -->
</div>
<!-- Jumbotron -->