
<!--
    Name: Jittima Goodrich
    Date: 10/6/2019
    File: officeForm.html
    This is the form for an adoptive family to share the resources

-->
<!--<div class="jumbotron">-->
<!--    <div class="contain white">-->
<!--        <h2>Please leave your recommendation below.</h2>-->
<!--    </div>-->
<!--</div>-->

<div class="container shadow-lg p-5 mb-5 mt-2 bg-white rounded">
    <h1 class="text-center">Business/Service Contact Information</h1>
    <hr>

    <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <!-- Form container -->
    <form action="#" method="post">
        <div class="row ml-4 mt-4">
            <!-- Provider Contact Information container -->
            <div class="col-lg-8">
                <!-- Office name inputs -->
                <label class="w-75">
                    <strong>Business/Service Name</strong>
                    <input type="text" class="form-control" name="office" value="{{ @office }}" >
                    <check if="{{ isset(@errors['office']) }}">
                        <span class="text-danger">{{ @errors['office'] }}</span>
                    </check>
                </label>

                <!-- Office street address inputs-->
                <label class="w-75">
                    <strong>Business Street Address</strong>
                    <input type="text" class="form-control" name="address" value="{{ @address }}" >
                    <check if="{{ isset(@errors['address']) }}">
                        <span class="text-danger">{{ @errors['address'] }}</span>
                    </check>
                </label>

                <!-- Office city inputs-->
                <label class="w-75">
                    <strong>Business City</strong>
                    <input type="text" class="form-control" name="city" value="{{ @city }}" >
                    <check if="{{ isset(@errors['city']) }}">
                        <span class="text-danger">{{ @errors['city'] }}</span>
                    </check>
                </label>

                <!-- Office state inputs-->
                <label class="w-75">
                    <strong>Business State</strong>
                    <br>

                    <select class="form-control" name="state">
                        <option value="AK">Alaska</option>
                        <option value="AL">Alabama</option>
                        <option value="AR">Arkansas</option>
                        <option value="AZ">Arizona</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DC">District of Columbia</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="IA">Iowa</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MD">Maryland</option>
                        <option value="ME">Maine</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MO">Missouri</option>
                        <option value="MS">Mississippi</option>
                        <option value="MT">Montana</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="NE">Nebraska</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NV">Nevada</option>
                        <option value="NY">New York</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VA">Virginia</option>
                        <option value="VT">Vermont</option>
                        <option value="WA" selected>Washington</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WV">West Virginia</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </label>

                <!-- Office zip inputs-->
                <label class="w-75">
                    <strong>ZIP Code</strong>
                    <input type="text" class="form-control" name="zip" value="{{ @zip }}" >
                    <check if="{{ isset(@errors['zip']) }}">
                        <span class="text-danger">{{ @errors['zip'] }}</span>
                    </check>
                </label>

                <!-- Office Phone number inputs-->
                <label class="w-75">
                    <strong>Business Phone Number</strong>
                    <input type="text" class="form-control" name="office_phone" value="{{ @office_phone }}" >
                    <check if="{{ isset(@errors['office_phone']) }}">
                        <span class="text-danger">{{ @errors['office_phone'] }}</span>
                    </check>
                </label>

                <!-- Email inputs-->
                <label class="w-75">
                    <strong>Business Email</strong>
                    <label class="orange-text mb-0">(john@example.com)</label>
                    <input type="text" class="form-control" name="office_email" value="{{ @office_email }}">
                    <check if="{{ isset(@errors['office_email']) }}">
                        <span class="text-danger">{{ @errors['office_email'] }}</span>
                    </check>
                </label>

                <!-- Website inputs-->
                <label class="w-75">
                    <strong>Business Website</strong>
                    <input type="text" class="form-control" name="website" value="{{ @website }}" >
                    <check if="{{ isset(@errors['website']) }}">
                        <span class="text-danger">{{ @errors['website'] }}</span>
                    </check>
                </label>

                <!-- Message inputs-->
                <label class="w-75">
                    <strong>Comments (optional)</strong>
                    <textarea type="text" class="form-control" name="comments" value="{{ @comments }}"></textarea>
                    <check if="{{ isset(@errors['comments']) }}">
                        <span class="text-danger">{{ @errors['comments'] }}</span>
                    </check>
                </label>
            </div>  <!-- end of left column-->

            <div class="col-lg-4">
                <p class="bg-light mt-4 mr-5 p-2 rounded">
                    Please fill out the office contact information
                    with as much information as possible.
                </p>
            </div>  <!-- end of right column -->
        </div>  <!-- end of row-->

        <!-- Submit button -->
        <div class="row ml-3 mt-4">
            <div class="col-6">
                <input type="submit" value="Submit" class="btn btn-yellow waves-effect">
            </div>
        </div>
        </form>
    </div>
</div>

