<!--
    Name: Jittima Goodrich
    Date: 10/6/2019
    File: recommendedForm.html
    This is the form for an adoptive family to share the resources

-->
<div class="jumbotron">
    <div class="contain white">
        <h2>Please leave your recommendation below.</h2>
    </div>

</div>


<div class="jumbotron">
    <div class="container white">

        <form action="#" method="post">
            <!-- Your Contact Information container -->
            <div class="jumbotron">
                <h1 class="text-center">Your Contact Information</h1>

                <!-- First name inputs -->
                <div class="row ml-4 mt-4">
                    <div class="col-6">
                        <label> First Name</label>
                        <input type="text" class="form-control" name="fname" value="{{ @fname }}">
                        <check if="{{ isset(@errors['fname']) }}">
                            <span class="text-danger">{{ @errors['fname'] }}</span>
                        </check>
                    </div>
                </div>

                <!-- Last name inputs -->
                <div class="row ml-4 mt-4">
                    <div class="col-6">
                        <label> Last Name</label>
                        <input type="text" class="form-control" name="lname" value="{{ @lname }}">
                        <check if="{{ isset(@errors['lname']) }}">
                            <span class="text-danger">{{ @errors['lname'] }}</span>
                        </check>
                    </div>
                </div>

                <!-- Email inputs -->
                <div class="row ml-4 mt-4">
                    <div class="col-6">
                        <label> Email</label> <label class="orange-text">(john@example.com)</label>
                        <input type="text" class="form-control" name="email" value="{{ @email }}">
                        <check if="{{ isset(@errors['email']) }}">
                            <span class="text-danger">{{ @errors['email'] }}</span>
                        </check>
                    </div>
                </div>

                <!-- Phone number inputs-->
                <div class="row ml-4 mt-4">
                    <div class="col-6">
                        <label> Phone Number</label>
                        <input type="text" class="form-control" name="phone" value="{{ @phone }}" >
                        <check if="{{ isset(@errors['phone']) }}">
                            <span class="text-danger">{{ @errors['phone'] }}</span>
                        </check>
                    </div>
                </div>

            <!-- Next button -->
            <div class="row mb-2 pr-2">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-yellow btn-sm float-right">Next></button>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>