<!--
    Name: Jittima Goodrich
    Date: 10/6/2019
    File: recommendedForm.html
    This is the form for an adoptive family shares the resources

-->


<div class="jumbotron">
    <div class="container white">
        <h1>Recommendation Sources</h1>
        <form action="#" method="post">
            <div class="">

                <div class="row ml-4">
                    <div class="col-6">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="fname" value="{{ @fname }}">
                    </div>
                </div>

                <div class="row ml-4">
                    <div class="col-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lname" value="{{ @lname }}">
                    </div>
                </div>

                <div class="row ml-4">
                    <div class="col-6">
                        <label>Address</label>
                        <input type="text" class="form-control" name="address" value="{{ @address }}" >
                    </div>
                </div>

                <div class="row ml-4">
                    <div class="col-6">
                        <label>Email</label> <label class="orange-text">(john@example.com)</label>
                        <input type="text" class="form-control" name="email" value="{{ @email }}">
                    </div>
                </div>

                <div class="row ml-4">
                    <div class="col-6">
                        <label>Message</label>
                        <textarea type="text" class="form-control" name="message" value="{{ @message }}"></textarea>
                    </div>
                </div>


                <div class="row ml-4 mt-4">
                    <div class="col-6">
                        <input type="submit" value="Submit" class="btn btn-yellow waves-effect">
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

