<!--
    Name: Jittima Goodrich
    Date: 10/6/2019
    File: recommendedForm.html
    This is the form for an adoptive family to share the resources

-->
<div class="jumbotron">
    <div class="contain white">
        <h2>This form is for recommendations and suggestions that can help adoptive families with resources.</h2>
    </div>

</div>


<div class="jumbotron">
    <div class="container white">
        <h1>Recommendation Sources</h1>
        <form action="#" method="post">
            <div class="">

                <div class="row ml-4">
                    <div class="col-6">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="fname" value="{{ @fname }}">
                        <check if="{{ isset(@errors['fname']) }}">
                            <span class="err">{{ @errors['fname'] }}</span>
                        </check>
                    </div>
                </div>

                <div class="row ml-4">
                    <div class="col-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lname" value="{{ @lname }}">
                        <check if="{{ isset(@errors['lname']) }}">
                            <span class="err">{{ @errors['lname'] }}</span>
                        </check>
                    </div>
                </div>

                <div class="row ml-4">
                    <div class="col-6">
                        <label>Address</label>
                        <input type="text" class="form-control" name="address" value="{{ @address }}" >
                        <check if="{{ isset(@errors['address']) }}">
                            <span class="err">{{ @errors['address'] }}</span>
                        </check>
                    </div>
                </div>

                <div class="row ml-4">
                    <div class="col-6">
                        <label>Email</label> <label class="orange-text">(john@example.com)</label>
                        <input type="text" class="form-control" name="email" value="{{ @email }}">
                        <check if="{{ isset(@errors['email']) }}">
                            <span class="err">{{ @errors['email'] }}</span>
                        </check>
                    </div>
                </div>

                <div class="row ml-4">
                    <div class="col-6">
                        <label>Message</label>
                        <textarea type="text" class="form-control" name="message" value="{{ @message }}"></textarea>
                        <check if="{{ isset(@errors['message']) }}">
                            <span class="err">{{ @errors['message'] }}</span>
                        </check>
                    </div>
                </div>


                <div class="row ml-4 mt-4">
                    <div class="col-6">
                        <input type="submit" value="Submit" class="btn btn-yellow waves-effect">
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

