<!--
    Jittima Goodrich
    10/31/2019
    resetPassword.html

 -->


<div class="jumbotron container bg-white my-4">
    <div class="container white lighten-5">
        <h1 class="text-center pt-2">Reset Your Password</h1>
        <div class="row ml-2">
            <div class="col-sm-12">


                <!-- Where the admin reset their new password -->

                <form method="post" action="#">

                    <div class="row">
                        <div class="col-8">

                            <!-- email input-->

                            <div class="row ml-2 pb-3">
                                <div class="col-sm-6">
                                    <label>Please enter your email address:</label>
                                    <input required type="text" class="form-control" name="adminEmail1">
                                    <check if="{{ isset(@errors['adminEmail1']) }}">
                                        <span class="text-danger">{{ @errors['adminEmail1'] }}</span>
                                    </check>
                                </div>
                            </div>

                            <!-- new password input -->
                            <div class="row ml-2 pb-3">
                                <div class="col-sm-6">
                                    <label>New password:</label>
                                    <input required type="password" class="form-control" name="newPassword">
                                    <check if="{{ isset(@errors['newPassword']) }}">
                                        <span class="text-danger">{{ @errors['newPassword'] }}</span>
                                    </check>
                                </div>
                            </div>


                            <!-- confirm new password input -->
                            <div class="row ml-2 pb-3">
                                <div class="col-sm-6">
                                    <label>Confirm New password:</label>
                                    <input required type="password" class="form-control" name="newPassword1">
                                    <check if="{{ isset(@errors['newPassword1']) }}">
                                        <span class="text-danger">{{ @errors['newPassword1'] }}</span>
                                    </check>
                                </div>
                            </div>

                            <div class="row ml-4 pt-4 pb-2">
                                <!-- reset password button -->
                                <button type="submit" class="btn btn waves-effect">Submit</button>
                            </div>
                        </div>

                        <!--card password should be contents  -->

                        <div class="col-4"> <!-- -->
                            <div class="bg-light mt-4 mr-5 p-2 rounded">
                                <p class="text-dark">Password should be</p>
                                <ul class="">
                                    <li>
                                        at least 8 characters in length
                                    </li>
                                    <li>
                                        should include at least one upper case letter
                                    </li>
                                    <li>
                                        should include at least one number
                                    </li>
                                    <li>
                                        and should include at least one special character
                                    </li>
                                </ul>
                            </div>

                        </div> <!--end of card column -->

                    </div><!-- end of row -->


                </form>
            </div>


        </div>
    </div>
</div>
