<!--
    Jittima Goodrich
    10/31/2019
    resetPassword.html

 -->


<div class="container white mt-5">
    <div class="jumbotron">
        <h2 class="display-4 text-center">Reset Your Password</h2>

        <hr class="my-4">

        <!-- Where the user inputs their new password -->

        <form action="#" method="post">

            <div class="row ml-4 mt-4">
                <div class="col-lg-8">


                    <!-- email input-->
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Please enter your email address:
                                <input type="text" name="adminEmail1">
                            </label>
                        </div>
                    </div>


                    <!-- new password input -->
                    <div class="row w-75">
                        <div class="col-sm-6">
                            <label>New password:
                                <input type="text" name="newPassword">
                            </label>
                        </div>
                    </div>

                    <!-- confirm new password input -->
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Confirm New password:
                                <input type="text" name="newPassword1">
                            </label>
                        </div>
                    </div>

                    <!-- reset password button -->
                    <button type="submit" class="btn btn-outline-purple waves-effect">Reset password</button>

                </div>
            </div>
        </form>

        <!-- log in button -->
        <div class="row ml-4 mt-4">
            <p>Back to log in page</p>
            <a type="button" class="btn btn-purple waves-effect" href="adminLogin">Log in</a>
        </div>

    </div>
</div>

