<!-- resources -->
<!--Header Template Page'
Date: Oct4
file: header.html
Author: Samantha DeSmul
-->


<div class="jumbotron">
    <div class="contain white">
        <h2>Browse post adoption resources</h2>
    </div>

</div>
<div class="container">
    <table id="resources" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Service</th>
            <th>Name</th>
            <th>Office</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Service</th>
            <th>Name</th>
            <th>Office</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        </tfoot>
    </table>
</div>


<!-- Large modal Testign for id -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal-->
<!--</button>-->
<!--<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">-->
<!--<div class="modal-dialog modal-lg" role="document">-->
<!--<div class="modal-content">-->
<!--...-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
