<!-- resources -->
<!--Header Template Page'
Date: Oct4
Updated: Nov22
file: header.html
Author: Samantha DeSmul
-->

<!--Page specific styles-->
<link rel="stylesheet" href="./css/resources.css">
<link rel="stylesheet" href="./css/datatable.css">

<!-- Button trigger for disclaimer modal -->
<button type="button" class="btn btn-primary" id="disclaimerButton" data-toggle="modal" data-target="#disclaimerModal"
        data-backdrop="static" data-keyboard="false">
</button>

<div class="row">
    <div class="col-12 text-center bg-white mb-3 pt-2">

        <h2>Browse Post Adoption Resources</h2>
    </div>
</div>

<!--datatable generic outline-->
<div class="container p-4 m-1 text-center mx-auto bg-light">
    <table id="dtBasicExample1" class="table table-striped table-bordered w-100">
        <thead>
        <tr>
            <th class="th-sm">Service
            </th>
            <th class="th-sm">Name
            <th class="th-sm">Office
            </th>
            <th class="th-sm">Phone
            </th>
            <th class="th-sm">Email
            </th>
            <th class="th-sm">Address
            </th>
        </tr>
        </thead>
        <tbody>
        <repeat group="{{ @res }}"
                value="{{ @value }}">
            <tr data-title="{{ @value['resourceID'] }}">
                <td>{{ @value["Resource_ServiceType"] }}</td>
                <td>{{ @value["theraFname"] }} {{ @value["theraLname"] }}</td>
                <td>{{ @value["office"] }}</td>
                <td>{{ @value["officePhone"] }}</td>
                <td>{{ @value["officeEmail"] }}</td>
                <td>{{ @value["address"] }}</td>
            </tr>
        </repeat>

        </tbody>
        <tfoot>
        <tr>
            <th>Service
            </th>
            <th>Name
            </th>
            <th>Office
            </th>
            <th>Phone
            </th>
            <th>Email
            </th>
            <th>Address
            </th>
        </tr>
        </tfoot>
    </table>
</div>

<!--Disclaimer overlay-->
<check if="{{ @approve=='yes' }}">
    <true>
        <!--Enjoy/-->
    </true>
    <false>
        <!-- Modal -->
        <div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header purpleColor text-white">
                        <div class="col-12">
                            <button type="button" class="close text-white" id="closeDisclaimer" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h2 class="modal-title text-center" id="disclaimerModalLabel">NOTICE</h2>
                        </div>
                    </div>
                    <div class="modal-body">
                        <p> The content provided on this website is for information purposes only and not a guarantee of
                            quality. It
                            is recommended that you confirm the accuracy of information and interview service providers
                            to
                            determine
                            the best fit for your needs.<br><br>
                            To help with evaluating whether a provider is suitable for you and your
                            family, we have prepared a list of questions for you to use. You may also go to this link
                            Screening
                            Questions When Seeking An Adoption-Competent Therapist <a
                                    href="https://www.growbeyondwords.com/screening-questions-when-seeking-an-adoption-competent-therapist/">visit
                                online.</a></p>

                        <div class="text-center">
                            <button type="button" class="btn purpleColor text-white" data-dismiss="modal"
                                    id="approveDisclaimer">
                                Approve
                            </button>
                            <button type="button" class="btn purpleColor text-white" id="declineDisclaimer">Decline
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer purpleColor">

                    </div>
                </div>
            </div>
        </div>
    </false>
</check>

<!-- Central Modal-->
<div class="modal fade" id="centralModalSuccess1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-warning modal-fluid" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header text-white mx-auto w-100 purpleColor">
                <div class="col-12">
                    <button type="button" class="close p-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                    <h1 class="text-center mx-auto text-white">Resource Information</h1>

                </div>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="text-center">

                    <div class="container ">
                        <!--First row in modal-->
                        <div class="row">
                            <div class="col">
                                <h5 class="label">Resource Type</h5>
                                <p id="Resource_ServiceType"></p>
                            </div>
                            <div class="col">
                                <h5 class="label">Business Name</h5>
                                <p id="office"></p>
                            </div>
                            <div class="col">
                                <h5 class="label">Provider Name</h5>
                                <p id="speciality"></p>
                            </div>
                        </div>
                        <hr>
                        <!--Second row in modal-->
                        <div class="row">
                            <div class="col">
                                <h5 class="label">Email <a
                                        href="mailto:{{@res['officeEmail']}}?Subject=OneStop%20WA%20Recommendation%20"
                                        target="_top">
                                    <i class="fas fa-envelope amber-text"></i>
                                </a></h5>
                                <p id="officeEmail"></p>
                            </div>
                            <div class="col">
                                <h5 class="label">Phone <a href="tel:{{@res['officePhone']}}">
                                    <i class="fas fa-phone amber-text"></i>
                                </a></h5>
                                <p id="officePhone"></p>
                            </div>
                            <div class="col">
                                <h5 class="label">Website</h5>
                                <p id="website"></p>
                            </div>
                        </div>
                        <hr>
                        <!--Third row in modal-->
                        <div class="row">
                            <div class="col">
                                <h5 class="label">Address</h5>

                                <p id="address" class="float-left pr-1 mx-1">{{@res['address']}}</p>
                                <p id="city" class="float-left pl-1">{{@res['city']}}</p>
                                <p id="comma" class="float-left">{{@comma}}</p>
                                <p id="state" class="float-left pl-1">{{@res['state']}}</p>
                                <p id="zip" class="float-left pl-1">{{@res['zip']}}</p>
                            </div>
                            <div class="col">
                                <h5 class="label">Ages Seen</h5>
                                <p>0-4, 10-12</p>
                            </div>
                            <div class="col">
                                <h5 class="label">Credentials</h5>
                                <p>PhD</p>
                            </div>

                        </div>
                        <hr>
                        <!--Fourth row in modal-->
                        <div class="row">
                            <div class="col">
                                <h5 class="label">Languages/Interpreter</h5>
                                <p id="interpreter"></p>
                            </div>
                            <div class="col">
                                <h5 class="label">Insurance Accepted</h5>
                                <p id="insurance"></p>
                            </div>
                            <div class="col">
                                <h5 class="label">Fees</h5>
                                <p>{{ @res["insurance"]}}</p>
                            </div>
                        </div>
                        <hr>
                        <!--Fifth row in modal-->
                        <div class="row">
                            <div class="col">
                                <h5 class="label">County</h5>
                                <p>King</p>
                            </div>
                            <div class="col">
                                <h5 class="label">Provider Gender</h5>
                                <p id="theraGender"></p>
                            </div>
                            <!--Empty column to make spacing correct-->
                            <div class="col">

                            </div>
                        </div>
                        <hr>
                        <!--Sixth row in modal-->
                        <div class="row">
                            <div class="col">
                                <h5 class="label">Monday</h5>
                                <p>9:00am-5:00pm</p>
                            </div>
                            <div class="col">
                                <h5 class="label">Tuesday</h5>
                                <p>9:00am-5:00pm</p>
                            </div>
                            <div class="col">
                                <h5 class="label">Wednesday</h5>
                                <p>9:00am-5:00pm</p>
                            </div>
                            <div class="col">
                                <h5 class="label">Thursday</h5>
                                <p>9:00am-5:00pm</p>
                            </div>
                            <div class="col">
                                <h5 class="label">Friday</h5>
                                <p>9:00am-4:00pm</p>
                            </div>
                            <div class="col">
                                <h5 class="label">Saturday</h5>
                                <p>Closed</p>
                            </div>
                            <div class="col">
                                <h5 class="label">Sunday</h5>
                                <p>Closed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-left purpleColor">
                <div class="d-flex flex-column">
                    <!--Button Decline-->
                    <button type="button" class="btn btn-outline-light waves-effect" id="downloadPdf">
                        <i class="fas fa-file-download"></i> Download PDF
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--/.Content-->
</div>
