<div class="container">
    <div class="row">
        <div class="card col-12">
            <h3> Welcome To <b class="text-success">{{@resource}}</b></h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae facere facilis labore laudantium
                molestias omnis quis sunt tempore veniam, voluptatem? Accusamus aliquid autem impedit maxime neque
                perferendis quam rem soluta.</p>

            <img src="https://picsum.photos/id/237/250/150" alt="">
            <button class="btn btn-grey darken-2 center"
                    onclick="location.href='https://coderlite.greenriverdev.com/IT355/oneStopWa/resources';">Back
            </button>
        </div>
    </div>

</div>