<!--
    Sang Le, Jittima Goodrich
    11/10/2019
    submittedForm.html

 -->

<!--Thank you contents -->
<div class="container white">
    <div class="jumbotron">
        <h2 class="display-4 text-center">Thank you!</h2>
        <p class="lead text-center">{{ @SESSION['fname'] }} {{ @SESSION['lname'] }} for your recommendation!</p>
        <p class="lead text-center"></p>
        <hr class="my-4">
        <p>Would you like to recommend another resource?</p>
        <a href="recommended" class="btn btn-grey darken-2">Yes</a>
        <a href="home" class="btn btn-outline-grey darken-2">No</a>
    </div>
</div> <!-- -->