<!--
    Sang Le, Jittima Goodrich
    11/10/2019
    submittedForm.html

 -->

<!--Thank you contents -->
<div class="jumbotron container bg-white my-5">
    <div class="container white lighten-5">
        <h1 class="display-4 text-center pt-2">Thank you!</h1>
        <p class="lead text-center">{{ @SESSION['fname'] }} {{ @SESSION['lname'] }} for your recommendation!</p>
        <p class="lead text-center"></p>
        <hr class="my-4">
        <p>Would you like to recommend another resource?</p>
        <a type="button" href="recommended" class="btn btn">Yes</a>
        <a type="button" href="home" class="btn btn-outline">No</a>
    </div>
</div> <!-- -->