<!-- Contact Information container -->
<div class="container shadow-lg p-5 mb-5 mt-2 bg-white rounded">
    <h1 class="text-center">Therapist Contact Information</h1>
    <hr>

    <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <!-- Form container-->
    <form action="#" method="post">
        <div class="row ml-4 mt-4">
            <div class="col-lg-8">
                <!-- First name inputs -->
                <label class="w-75">
                    <strong>Therapist First Name</strong>
                    <label class="red-text mb-0">*</label>
                    <input type="text" class="form-control" name="theraFname" value="{{ @theraFname }}">
                    <check if="{{ isset(@errors['theraFname']) }}">
                        <span class="text-danger">{{ @errors['theraFname'] }}</span>
                    </check>
                </label>

                <!-- Last name inputs -->
                <label class="w-75">
                    <strong>Therapist Last Name</strong>
                    <label class="red-text mb-0">*</label>
                    <input type="text" class="form-control" name="theraLname" value="{{ @theraLname }}">
                    <check if="{{ isset(@errors['theraLname']) }}">
                        <span class="text-danger">{{ @errors['theraLname'] }}</span>
                    </check>
                </label>

                <!-- Gender inputs -->
                <label class="w-75">
                    <strong>Therapist Gender</strong>
                    <label class="red-text mb-0">*</label>
                    <br>
                    <label class="radio-inline">
                        <check if="{{@POST['theraGender'] == 'Male'}}">
                            <true>
                                <input type="radio" name="theraGender" value="Male" checked> Male
                            </true>
                            <false>
                                <input type="radio" name="theraGender" value="Male"> Male
                            </false>
                        </check>
                    </label>

                    <label class="radio-inline">
                        <check if="{{@POST['theraGender'] == 'Female'}}">
                            <true>
                                <input type="radio" name="theraGender" value="Female" checked> Female
                            </true>
                            <false>
                                <input type="radio" name="theraGender" value="Female"> Female
                            </false>
                        </check>
                    </label>
                    <check if="{{ isset(@errors['theraGender']) }}">
                        <span class="text-danger">{{ @errors['theraGender'] }}</span>
                    </check>
                </label>  <!-- End of gender inputs -->

                <!-- Email inputs-->
                <label class="w-75">
                    <strong>Therapist Email</strong>
                    <label class="red-text mb-0">*</label>
                    <label class="blue-text mb-0">(john@example.com)</label>
                    <input type="text" class="form-control" name="theraEmail" value="{{ @theraEmail }}">
                    <check if="{{ isset(@errors['theraEmail']) }}">
                        <span class="text-danger">{{ @errors['theraEmail'] }}</span>
                    </check>
                </label>

                <!-- Phone number inputs-->
                <label class="w-75">
                    <strong>Therapist Phone Number</strong>
                    <label class="red-text mb-0">*</label>
                    <input type="text" class="form-control" name="theraPhone" value="{{ @theraPhone }}" >
                    <check if="{{ isset(@errors['theraPhone']) }}">
                        <span class="text-danger">{{ @errors['theraPhone'] }}</span>
                    </check>
                </label>

                <!-- Secondary phone number inputs -->
                <label class="w-75">
                    <strong>Secondary Phone Number</strong>
                    <label class="orange-text mb-0">(optional)</label>
                    <input type="text" class="form-control" name="secondPhone" value="{{ @secondPhone }}" >
                </label>

                <!-- Credential inputs -->
                <label class="w-75">
                    <strong>Credential</strong>
                    <label class="orange-text mb-0">(optional)</label>
                    <input type="text" class="form-control" name="credential" value="{{ @credential }}" >
                </label>

                <!-- Secondary credential inputs -->
                <label class="w-75">
                    <strong>Secondary Credential</strong>
                    <label class="orange-text mb-0">(optional)</label>
                    <input type="text" class="form-control" name="secondCredential" value="{{ @secondCredential }}" >
                </label>
            </div>  <!-- end of left column-->

            <div class="col-lg-4">
                <p class="bg-light mt-4 mr-5 p-2 rounded">
                    Please fill out your personal contact information
                    to recommend a service or support resource.
                </p>
            </div>  <!-- end of right column -->
        </div>  <!-- end of row-->

        <!-- Next button -->
        <div class="row">
            <div class="col-sm-12">
                <a href="provider" class="btn btn-outline-purple btn-sm waves-effect">Back</a>
                <button type="submit" class="btn btn-purple btn-sm float-right">Next></button>
            </div>
        </div>
    </form>
</div>